.elements__card {
    width: 282px;
    height: 361px;
    max-width: 282px;
    max-height: 361px;
    background-color: #ffff;
    border-radius: 10px;
}


@media screen and (max-width: 1279px) and (min-width: 768px) {

    
    .elements__card {
        width: 282px;
        height: 361px;
        max-width: 282px;
        max-height: 361px;
        background-color: #ffff;
        border-radius: 10px;
    }
}


@media screen and (max-width: 767px) and (min-width: 320px) {

    
    .elements__card {
        width: 282px;
        height: 361px;
        background-color: #ffff;
        border-radius: 10px;
    }
}
