.modal {
    opacity: 1;
    height: auto;
    transition: opacity 0.7s ease-in-out;
    
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}