.card__like-btn {
    background-image: url(../../../images/Like.svg);
    background-repeat: no-repeat;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 22px;
    min-height: 19px;
    max-height: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    transition: all 0.7s ease-in-out;
    background-color: white;
}

.card__like-btn:hover {
    opacity: 0.5;
}