.card__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 195px;
    padding-top: 21px;
    padding-bottom: 25px;
}