.card__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 195px;
    max-width: 195px;
    padding-bottom: 3px;
    height: 72px;
    max-height: 72px;
    display: flex;
    align-items: center;
}